@mixin no-link{
    text-decoration: none;
    color: $color-light;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin content-img{
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin wrapper{
    background-color: $color-dark;
        align-items: center;
        @include flex-column;
}