$widthS:320px;
$widthM:768px;
$widthL:1024px;

$color-light:#fff;
$color-dark:#162831;
$color-add:#018ABE;

$text-size-xxs:14px;
$text-size-xs:16px;
$text-size-s:18px;
$text-size-m:20px;
$text-size-l:21px;
$text-size-xl:24px;
$text-size-xxl:42px;
$text-size-xxxl:64px;

$logo-width-height:60px;
$list-width:28px;
$list-height:14px;
$swipe-btn-width-height:16px;
$contact:20px;


$padding-date-s:6px;
$padding-date-m:12px;
$padding-xs:9px;
$padding-s:15px;
$padding-m:20px;
$padding-l:25px;
$padding-xl:30px;
$padding-xxl:35px;
$padding-xxxl:40px;

$margin-xs:45px;
$margin-s:50px;
$margin-m:60px;
$margin-l:90px;
$margin-xl:100px;
$margin-xxl:120px;
$margin-xxxl:150px;
$margin-xxxxl:160px;




